<form #myForm="ngForm" ngForm (ngSubmit)="submitForm()">
  <div>
    <label for="email">Inserisci email:</label>
    <input id="email" email name="email" required [(ngModel)]="data.email">
  </div>
  <div>
    <label for="password">Inserisci password:</label>
    <input #pass="ngModel" id="password" type="password" name="password" required minlength="4" [(ngModel)]="data.password">
    <span *ngIf="pass.invalid">
      <span *ngIf="pass.errors?.['required']">La password non può essere vuota!</span>
      <span *ngIf="pass.errors?.['minlength']">La password non può avere meno di 4 caratteri!</span>
    </span>
  </div>
  <div>
    <label for="newsletter">Iscriviti alla newsletter:</label>
    <input id="newsletter" type="checkbox" name="newsletter" [(ngModel)]="data.newsletter">
  </div>
  <input type="submit" [disabled]="myForm.form.invalid">
  <span *ngIf="myForm.form.invalid">Compila i dati in modo corretto!</span>
</form>
