<form id="form" (submit)="submitForm($event)">
  <div>
    <label for="email1">Inserisci email:</label>
    <input id="email1" type="email" name="email" required>
  </div>
  <div>
    <label for="password1">Inserisci password:</label>
    <input id="password1" type="password" name="password" required minlength="4">
  </div>
  <div>
    <label for="newsletter1">Iscriviti alla newsletter:</label>
    <input id="newsletter1" type="checkbox" name="newsletter">
  </div>
  <button type="submit">Conferma</button>
</form>
